:root {
    --darkblue: #32435f;
    --lightblue: #85abef;
    --offpink: #a67f78;
    --capuccino: #8f8681;
    --offwhite: #e1dcd9;
    --lightcapuccino: #cccbc9;
}

body {
    background: linear-gradient(to bottom, var(--lightblue), var(--darkblue)) fixed;
}

body::-webkit-scrollbar {
    display: none
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: var(--lightblue);
    border-radius: 20px;
    box-shadow: 0 10px 40px var(--capuccino), 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form {
    height: 96px;
}

input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 40px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: var(--offwhite);
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;

    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

@media (max-width: 480px) {
    /* Further adjustments for smaller screens */
    #cover {
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    input[type="text"] {
        height: 72px;
    }

    #s-cover {
        padding-left: 15px;
    }

    button {
        width: 50px;
        height: 60px;
    }

    #s-circle {
        top: -4px;
        width: 26px;
        height: 26px;
        border-width: 8px;
    }

    button span {
        top: 50px;
        left: 26px;
        width: 28px;
    }

    button span:before,
    button span:after {
        width: 28px;
    }
}



