:root{
    --darkblue: #32435f;
    --lightblue: #85abef;
    --offpink: #a67f78;
    --capuccino: #8f8681;
    --offwhite: #e1dcd9;
    --lightcapuccino: #cccbc9;
}

body {

    background: linear-gradient(to bottom, var(--lightblue), var(--darkblue)) fixed;

    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.contact_text {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--offwhite);
    text-align: center;
    margin-top: 150px;
    font-family: "Times New Roman", serif;
    font-size: 30px;
}


.contact_info {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: 500;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

.contact_info img {
    margin-bottom: 20px;
}

.contact_info p {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--offwhite);
    position: relative;
    text-align: center;
}
.contact_info h2
{
    color: var(--offwhite);
}
.contact_info  .email , .address ,.phone{
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 30px;
    background-color: linear-gradient(to right, var(--lightblue) , var(--darkblue) );
    border-radius: 10px;
}



.contact_info .email:hover , .address:hover ,.phone:hover {
    background-color: var(--darkblue);
    border: 1px solid #fff;
    border-radius: 10px;
    animation: fadeIn 5s;


}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}