:root {
    --darkblue: #32435f;
    --lightblue: #85abef;
    --offpink: #a67f78;
    --capuccino: #8f8681;
    --offwhite: #e1dcd9;
    --lightcapuccino: #cccbc9;
}

a {
    color: var(--offpink);
    text-decoration: none;
}

#username {
    color: var(--offwhite);
    font-size: 100px;
    margin: 0;


}



#username:hover {
    color: var(--offpink);
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}


body {
    background: linear-gradient(to bottom, var(--lightblue), var(--darkblue)) fixed;


}

body::-webkit-scrollbar {
    display: none
}

@media (min-width: 70em) {
    .container {
        display: flex;
        /* flex-direction: column; */
        height: 100vh;
    }


    .left-side {
        display: flex;
        order: 1;
        flex-basis: 50%;
        padding: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .right-side {
        display: flex;
        order: 2;
        flex-basis: 50%;
        padding: 3em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.large-title {
    font-size: 60px;
    color: white;
    margin: 0 2rem;
}

.small-title {
    font-size: 36px;
    color: var(--lightcapuccino);
    margin: 0.5em 2rem;
}

.text {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.oval-button {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--offpink);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.block_welcome {
    display: flex;
    width: 100%;
    height: 10em;
    background-color: transparent;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

}


.block {
    display: flex;
    width: 70%;
    height: 10em;
    background-color: var(--offwhite);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.block-title {
    font-size: 75px;
    color: var(--darkblue);
    margin: 0;
}

.block-title_welcome {
    font-size: 75px;
    color: var(--offwhite);
    margin: 0;
}

@media (max-width: 80em) {
    .middle {
        display: none;
    }

    .block_welcome {
        display: flex;
        width: 50%;

        height: 10em;
        background-color: transparent;
        margin-bottom: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .block-title_welcome {
        font-size: 35px;
        /* center it    */

    }

    .block {
        display: flex;
        width: 70%;
        height: 8em;
        background-color: var(--offwhite);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);*/
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .large-title {
        font-size: 30px;
    }

    .small-title {
        font-size: 16px;
    }

    .right-side {
        display: flex;
        order: 2;
        flex-basis: 50%;
        padding: 3em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        display: flex;
        order: 1;
        flex-basis: 50%;
        padding: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .oval-button {
        display: flex;
        border-radius: 50px;
    }
}

@media (min-width: 80em) {
    .middle {
        display: flex;
    }

    .right-side {
        display: flex;
        order: 2;
        flex-basis: 50%;
        padding: 3em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.container {
    margin-top: 55px;
}

.middle {
    background-color: white;
    height: 75vh;
    width: 1px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

