:root{
    --darkblue: #32435f;
    --lightblue: #85abef;
    --offpink: #a67f78;
    --capuccino: #8f8681;
    --offwhite: #e1dcd9;
    --lightcapuccino: #cccbc9;
    --brown: #5c4b4b;
}

body {
    background: linear-gradient(to bottom, var(--lightblue), var(--darkblue)) fixed;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.about-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

}

#about_title
{
    font-size: 75px;
    margin-top: 150px;
    color: var(--offwhite);

}
.about_text
{
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 20px;
    margin: 50px;
    text-align: center;
    color: var(--brown);
    background-color: var(--offwhite);


}
.about_text p
{
    margin: 20px;
    padding: 20px;
}
