:root{
    --darkblue: #32435f;
    --lightblue: #85abef;
    --offpink: #a67f78;
    --capuccino: #8f8681;
    --offwhite: #e1dcd9;
    --lightcapuccino: #cccbc9;
    --brown: #5c4b4b;
}

body {
    background:  linear-gradient(to right, var(--lightblue) 10%, var(--darkblue) 75%);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.visit{
    width:650px;
    margin:100px auto;
    background: var(--offwhite);
    border-radius: 10px;
}

.form-header  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-header h1 {
    font-size: 30px;
    text-align:center;
    color: var(--brown);
    padding:20px 0;
    border-bottom:1px solid #cccccc;
}





.form-body {
    padding:10px 40px;
   /* color:#666;*/
}

.form-group{
    margin-bottom:20px;
}

.form-body .label-title {
    color: var(--brown);
    font-size: 17px;
    font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}



.horizontal-group .left{
    float:left;
    width:49%;
}

.horizontal-group .right{
    float:right;
    width:49%;
}

.input[type="file"] {
    outline: none;
    cursor:pointer;
    font-size: 17px;
}

/*#range-label {
    width:15%;
    padding:5px;
    background-color: var(--lightblue);
    color:white;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    top:-8px;
}*/


::-webkit-input-placeholder {
    color:#d9d9d9;
}


.form-footer {
    clear:both;
}

.input-group{
    /*make the buttons orizontal*/
    display: flex;
    flex-direction: column;
    color: var(--brown);
}

.visit-nature {
    display: flex;
    flex-direction: column;
    color: var(--brown);
}

/*.btn{
    border-radius: 10px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid var(--brown);
    cursor: pointer;
    position: relative;
    background-color: var(--brown);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: var(--offwhite);
}*/



@media (min-width: 768px) {
    .btn {
        padding: 13px 50px 13px;
    }
}

.button-center{
    text-align: center;
}

/* Style the visitor list */
.visitor-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style each list item */
  .visitor-list li {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  /* Style the visitor information */
  .visitor-info {
    margin-bottom: 10px;
  }
  
  /* Style the edit button */
  .edit-button {
    background-color: var(--capuccino);
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  /* Change the width of list items on smaller screens */
  @media (max-width: 768px) {
    .visitor-list li {
      width: 100%;
    }
  }

a{
    text-decoration: none;
    color: var(--offwhite);
}
  

